<section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-4 mx-auto border-b-2 border-gray-400">
        <span class="uppercase text-gray-900 text-3xl title-font font-medium mb-1 ">{{ pageTitle }}</span>
        <span class="float-right mt-2">
        <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded p-2 mt-2"  routerLink="/" routerLinkActive="active">
          Go Back To Listing Page
        </a>
      </span>
    </div>
    <div class="container px-5 py-10 mx-auto">
        <div class="lg:w-4/5 mx-auto flex flex-wrap"><img alt="coffee" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded  border-4 border-gray-300 p-2" src="/assets/images/coffee.jpg">
            <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
                <h2 class="text-sm title-font text-gray-500 tracking-widest uppercase">KrebStar</h2>
                <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">Kayanza, Burundi</h1>
                <div class="flex mb-4"><span class="flex items-center">


<span class="text-gray-600 mt-3"><span class="p-2 text-xs font-medium uppercase tracking-wider text-yellow-800 bg-yellow-200 rounded-lg bg-opacity-50"> astringent </span></span>
                    </span>
                </div>
                <div>
                    <p class="leading-relaxed">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut mi purus. Phasellus in libero vitae nunc interdum faucibus. In nec hendrerit velit. Curabitur interdum mollis nibh ac dignissim. Donec ornare ex vitae placerat tristique.
                        Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur in nulla ut justo tincidunt fermentum. Proin ut dolor orci. Nulla vel ex ligula. Sed rutrum nisi eget leo rutrum sodales. Morbi ut condimentum tortor.</p>

                    <p class="leading-relaxed pt-2">Donec tincidunt dolor magna, id laoreet libero aliquam a. Aliquam vulputate placerat quam, in efficitur velit aliquet et. Pellentesque rhoncus lobortis purus sit amet maximus. Proin et est sed enim placerat accumsan vitae ut orci.
                        Nunc nec luctus velit. In id magna mattis nunc dictum eleifend ac at eros. Duis non gravida sapien. Nunc eu ex vel lorem aliquam dignissim in non elit.</p>
                </div>
                <div class="flex mt-6 items-center pb-5 border-b-2 border-gray-100 mb-5">
                    <div class="flex"><span class="mr-3">sharp, full, honeysuckle, soy sauce, golden raisin</span></div>
                </div>
            </div>
        </div>
    </div>

</section>